body
{
    background-image: url(Docs-Pics-Pdfs/silent-beach.jpg);
    font-size: 150%;
	font-family: Helvetica; 
       
}
img{
    float: right;
    image-rendering: optimizeSpeed;
    border-radius: 2em;
    border: 2px solid darkcyan;
    image-rendering: optimizeQuality;
}
h1
{
    color: darkcyan;
}
h2
{
    color: darkcyan;
}
.navbar{
    color: black;
    text-decoration: none;
    background-color: darkcyan;
    margin-left: 20%;
    list-style-type: none;
}
p
{
    color: lightseagreen;
    box-shadow: 1%;
    
}
footer
{
    color: lightslategray;

}
main
{
    margin: 2em;
    background-color: blanchedalmond;
    border: 1px solid #003;
}
span{
    float: right;
    margin-right: 50px;
}

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  @media screen and (max-height: 450px) {
    .overlay {overflow-y: auto;}
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }
